# -*- coding: utf-8 -*-
"""
Created on Thu Sep  1 21:29:48 2022

@author: edsaac

https://github.com/edsaac/streamlit-PyVista-viewer/blob/main/requirements.txt
"""

streamlit
pyvista
pythreejs
ipywidgets
ipython